{% extends 'base.html' %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sdtt.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/libs/validation-new.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sdtt/shexValidator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sdtt/shaclValidator.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sdtt/core.js') }}"></script>
    <script src="{{ url_for('static', filename='js/sdtt/layout.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="header">
        <div class="title">Schema.org Content Checker (work-in-progress)</div>
        <div class="d-flex">
            <div class="older-demo-link">
                <a href="/old">Older version</a>
            </div>
            <div class="lang-selector">
                <label for="validation-lang-select">Validation language</label>
                <select class="form-control" name="validation-lang-select" id="validation-lang-select">
                    <option value="shex">ShEx</option>
                    <option value="shacl">Shacl</option>
                </select>
            </div>
        </div>
    </div>
    <div class="content">
        <div id="validate-btn"><img src="{{ url_for('static', filename='images/icons/play_arrow.svg') }}"
                                    alt="validate"></div>
        <div class="block input-block">
            <textarea class="form-control" name="input-text" id="input-text" cols="30" rows="10"></textarea>
            <div class="tests-display">
                <div class="tests d-none"></div>
                <div id="show-tests-btn">Show tests</div>
            </div>
        </div>
        <div class="block output-block">
            <div class="hierarchy">
                <div class="title">Hierarchy</div>
                <div class="h-items"></div>
            </div>
            <div class="reports"></div>
        </div>
    </div>
{% endblock %}