{% extends "base.html" %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/validation.css') }}">
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/libs/validation.bundle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation/layout.js') }}"></script>
    <script src="{{ url_for('static', filename='js/validation/core.js') }}"></script>
{% endblock %}

{% block content %}
    <h2>Schema.org Content Checker (work-in-progress)</h2>
    <div class="description">
        <h6>
            Status: this is a proof of concept being created as part of a Google Internship. The intent is to
            demonstrate how standards-based description of search service information requirements can be used to
            configure structured data validation in a way the highlights all the diverse incentives that exist for using
            a particular piece of schema markup. The prototype includes examples based on current Google, Pinterest,
            Yandex and Bing search features, but should be viewed as an illustrative technology demonstration - i.e. the
            definitions may be inaccurate and incomplete. Ideally such definitions would be published by the relevant
            organizations, perhaps through bodies such as Schema.org.
        </h6>
        <h5><span class="font-weight-bold">Developer:</span> Anastasiia Byvsheva <a href="mailto:anastasiia.byvsheva@gmail.com">anastasiia.byvsheva@gmail.com</a></h5>
        <h5><span class="font-weight-bold">Google contact:</span> Dan Brickley <a href="mailto:danbri@google.com">danbri@google.com</a></h5>
    </div>
    <div class="custom-row">
        <div class="inputs wrapper">
            <div class="tests"></div>
            <div>
                <label for="file-data-input" class="custom-file-label">Choose a file</label>
                <input type="file" class="custom-file-input" id="file-data-input"/>
            </div>
            <div>
                <textarea id="text-data-input" class="form-control" cols="30" rows="15"></textarea>
            </div>
        </div>
        <div class="shapes wrapper">
            <h3>Shapes viewer</h3>
            <div class="controls">
                <div>
                    <label for="language-select">Language</label>
                    <select id="language-select" class="form-control">
                        <option value="shex">ShEx</option>
                        <option value="shacl">SHACL</option>
                    </select>
                </div>
                <div>
                    <label for="service-select">Service</label>
                    <select id="service-select" class="form-control"></select>
                </div>
                <div>
                    <label for="type-select">Type</label>
                    <select id="type-select" class="form-control">
                        <option value="Recipe">Recipe</option>
                        <option value="Dataset">Dataset</option>
                    </select>
                </div>
            </div>
            <pre id="shape-viewer">

            </pre>
        </div>
    </div>
    <div class="custom-row">
        <div class="btn btn-light" id="validate-btn">Validate (Ctrl+Enter)</div>
    </div>
    <div class="custom-row">
        <table id="results-table" class="table table-bordered">
            <thead>
            <tr>
                <th scope="col" class="cross"></th>
                <th scope="col">ShEx</th>
                <th scope="col">SHACL</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
{% endblock %}